<div class="my-3">
  <h3 class="text-danger">
    Map operator:
    <span class="text-primary">
      this operator applies a projection to each value and emits that projection
      in the output Observable.
    </span>
  </h3>
  <br />

  <div class="row">
    <div class="col-md-4">
      <strong>Ex: 01</strong>
      <hr />
      <p class="p-heading"><Strong>Map</Strong> 'video'+Data</p>
      <br />
      <p class="text-success">Message: {{ msg1 }}</p>
    </div>

    <div class="col-md-4">
      <strong>Ex: 02</strong>
      <hr />
      <p class="p-heading"><Strong>Map</Strong> Data+10</p>
      <br />
      <p class="text-success">Message: {{ msg2 }}</p>
    </div>

    <div class="col-md-4">
      <strong>Ex: 03</strong>
      <hr />
      <p class="p-heading"><Strong>Map </Strong>Object Data</p>
      <br />
      <p>Data goes here</p>
      <ul id="namePrint"></ul>
    </div>
  </div>
</div>
